body {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #191825; */
    background: radial-gradient(126.06% 52.49% at 70.94% 80.09%, rgba(204, 27, 98, 0.50) 0%, rgba(25, 167, 206, 0.00) 100%), radial-gradient(98.95% 67.55% at 16.80% 27.92%, rgba(57, 49, 123, 0.50) 0%, rgba(25, 167, 206, 0.00)100%),#191825;
      
  } 
  .image-hack{
    height: 50px;
    width: 50px;
  }
  .logo{
    
    /* left-margin: 1px; */
    position: absolute;
    top: 50px;
    left: 50px;
  }
  .hacknitte{
    text-decoration: solid;
    position: absolute;
    top: 48px;
    left: 120px;
    color: #CFCFD9;
    font-size: 35px;
  }
  .card {
    align-items: center;
    margin-left: 4px;
    margin-right: 12px;
    /* background: radial-gradient(126.06% 52.49% at 70.94% 80.09%, rgba(204, 27, 98, 0.50) 0%, rgba(25, 167, 206, 0.00) 100%), radial-gradient(98.95% 67.55% at 16.80% 27.92%, rgba(57, 49, 123, 0.50) 0%, rgba(25, 167, 206, 0.00)100%),#191825;

    background-color: rgba(25, 167, 206, 0.00); */
    background: linear-gradient(138.19deg, #191825 60.16%, #d6266c 141.47%);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 600px; /* Adjust the width as per your preference */
    /* width: 90%; Adjust the width as per your preference */
    text-align: center;
 }
  
 .welcome {
    padding-top: 10px;
    color: #E1F2F5;
    font-size: 33px;
    margin-top: -24px;
    margin-bottom: -10px;
  }
  
  .login-text {
    font-weight: lighter;
    text-align: center;
    color: #E1F2F5;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .input-wrapper {
    position: relative;
    /* align-items: center; */
    margin: auto;
  }
  
  input {
    display: block;
    margin-right: 10px;
    background-color: #191825;
    width: 100%;
    padding: 10px;
    padding-right: 0;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1.4px solid #ccc;
  }
  
  .password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .no-account{
    /* padding-left: 0;
    padding-right: 0; */
    color: #fff;
    font-size: 12px;
    /* margin-right: 1px;
    margin-left: 120px;
    margin-top: 1px;
    margin-bottom: 20px; */
  }
  /* .forgot-password {
    text-decoration: none;
    display: block;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: right;
  } */
  .password-eye{
    padding-right: 0;
    margin-right: 1px;
    height: 20px;
  }
  .login{
    color: #E1F2F5;
   margin: 10px;
   font-size: 22px;
   text-decoration: solid;
   text-emphasis: bold;
  }

  .login-btn {
    display: block;
    width: 100%;
    padding: 1px;
    background: linear-gradient(90.19deg, #CC1B62 0.16%, #39317B 111.47%);
    /* background-color: #87a4f2; */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 480px) {
    .card {
      width: 90%;
      margin: auto;
    }
  }

  
 