body {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #191825;
    /* body { */
        /* background: linear-gradient(to bottom, #EB455F, #f7f7f8); */
        /* body { */
            /* background: linear-gradient(-45deg, #EB455F, #f7f7f8); */
          /* } */
          
      /* } */
      
  }
  
  .card {
    /* align-items: center; */
    background-color: #fff;
    /* padding: 40px; */
    /* margin-top: 20px;
    margin-bottom: 20px; */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 600px; /* Adjust the width as per your preference */
    width: 90%; /* Adjust the width as per your preference */
    text-align: center;
  }
  
  h1 {
    /* padding-top: 10px; */
    color: #140d31;
    font-size: 30px;
    margin-top: -24px;
    margin-bottom: -10px;
  }
  
  h2 {
    font-size: 16px;
    /* margin-bottom: 20px; */
  }
  
  .input-wrapper {
    position: relative;
    align-items: center;
    margin: auto;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .forgot-password {
    text-decoration: none;
    display: block;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: right;
  }
  
  .login-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #87a4f2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 480px) {
    .card {
        /* align-items: center; */
      width: 90%;
      margin: auto;
    }
  }